body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
}

.time-view {
  position: relative;
  display: flex; /* Use flexbox for positioning */
  justify-content: flex-end; /* Align children to the end (right) of the container */
  margin-top: 0.5rem;
}
